/*=============================================================
# font
============================================================= */
$font_jp: "Noto Sans JP", sans-serif;
$font_en: "Didact Gothic", sans-serif;

$base_color1: #2d2d32;
$base_color2: #ffffff;
$base_color3: #64629d;

$key_color1: #9f9ec1;
$key_color2: #edecfc;
$key_color3: #f9f9f9;
$key_color4: #000000;
/*=============================================================
# z_index
============================================================= */
$z_header: 10;

$z_drawer_content: 30;
$z_drawer_icon: 40;
/*=============================================================
# breakpoint
============================================================= */
$layout-width-inner: 1187px;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
);
/*=============================================================
# media query
============================================================= */
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*=============================================================
# common
============================================================= */
body {
  font-size: 18px;
  font-weight: 700;
  color: $base_color1;
}

img {
  width: 100%;
  height: 100%;
}

.sp {
  @include mq("pc") {
    display: none;
  }

  @include mq("tab") {
    display: none;
  }
}

.pc {
  @include mq("sp") {
    display: none;
  }
}

.inner {
  width: $layout-width-inner;
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  color: $base_color2;
  text-align: center;
  border-radius: 50px;
  background: $base_color3;
  font-size: 24px;
  letter-spacing: 0.02em;
  display: block;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;

  @include mq("pc") {
    &:hover {
      box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15),
        0 0 5px rgba(0, 0, 0, 0.1);
      transform: translateY(-4px);
    }
  }

  @include mq("sp") {
    width: 300px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    border-radius: 29px;
  }
}

.section_title_en {
  line-height: (35.81 / 36);
  font-size: 36px;
  font-family: $font_en;
  color: $key_color1;
  text-align: center;

  @include mq("sp") {
    font-size: 22px;
  }
}

.section_title_jp {
  margin-top: 18px;
  font-size: 48px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $base_color3;

  @include mq("sp") {
    font-size: 30px;
    line-height: (42 / 30);
    margin-top: 12px;
  }
}

/*=============================================================
# header
============================================================= */
.header {
  background: $base_color2;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z_header;

  @include mq("sp") {
    height: 52px;
  }
}

.header_inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header_logo {
  width: 83px;
  height: 28px;

  @include mq("sp") {
    width: 71px;
    height: 24px;
  }
}

.header_nav {
  display: flex;
  margin-left: auto;

  @include mq("sp") {
    display: none;
  }

  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
    a {
      padding-bottom: 8px;
      position: relative;

      @include mq("pc") {
        &::after {
          content: "";
          width: 100%;
          height: 1.35px;
          bottom: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background: transparent;
          transition: 0.3s;
        }

        &:hover {
          &::after {
            content: "";
            width: 50%;
            height: 1.35px;
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: $base_color3;
          }
        }
      }
    }
  }
}

.header_btn {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  letter-spacing: normal;
  border-radius: 25px;
  margin-left: 14px;

  @include mq("sp") {
    display: none;
  }

  @include mq("tab") {
    display: none;
  }
}

/*=============================================================
# drawer
============================================================= */

.drawer_icon {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: $z_drawer_icon;
  width: 21px;
  height: 33px;
  transition: 0.5s;

  &.is_active {
    transform: translateX(100%);
    opacity: 0;
  }

  p {
    font-size: 10px;
    letter-spacing: 0.02em;
    color: $base_color3;
    transform: scale(0.6);
    transform-origin: top left;
  }

  a {
    display: block;
    width: 21px;
    height: 21px;
  }
}

.drawer_icon_cross {
  position: fixed;
  top: 17px;
  right: 20px;
  width: 18px;
  height: 18px;
  z-index: $z_drawer_icon;
  transition: 0.5s;
  transform: translateX(100%);
  opacity: 0;

  &.is_active {
    transform: translateX(0);
    opacity: 1;
  }
}

.drawer_content {
  position: fixed;
  top: 52px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z_drawer_content;
  background: $key_color2;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(100%);

  &.is_active {
    opacity: 1;
    transform: translateX(0);
  }
}

.drawer_nav {
  margin-top: 80px;
  margin-left: 64px;

  li {
    &:not(:first-child) {
      margin-top: 16px;
    }
    margin-left: auto;
    margin-right: auto;

    a {
      display: flex;
      align-items: center;
      font-size: 24px;
      letter-spacing: 0.03em;
      padding: 10px 0;

      span {
        width: 20px;
        height: 20px;
        display: block;
        border: 2px solid $base_color3;
        transform: rotate(-45deg);
        border-radius: 1px;
        margin-right: 13px;
      }
    }
  }
}

.drawer_btn {
  margin: 60px auto 0;
  font-size: 18px;
  letter-spacing: normal;
  border-radius: 29px;
  width: 300px;
  height: 58px;
  line-height: 58px;
}

.drawer_dl_btn {
  background: $base_color2;
  color: $base_color3;
  width: 300px;
  height: 58px;
  line-height: 54px;
  font-size: 18px;
  letter-spacing: normal;
  border-radius: 29px;
  border: 2px solid $base_color3;
  margin: 24px auto 0;
}

/*=============================================================
# fv
============================================================= */
.fv {
  background: $key_color2;
  height: 580px;
  margin-top: 72px;
  display: flex;
  align-items: center;

  @include mq("sp") {
    margin-top: 52px;
    display: block;
    padding: 60px 0;
    height: auto;
  }
}

.fv_inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq("tab") {
    flex-wrap: nowrap;
  }

  @include mq("sp") {
    flex-direction: column;
  }
}

.fv_content {
  width: calc(100% - 531px);

  @include mq("tab") {
    width: 50%;
  }

  @include mq("sp") {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.fv_title {
  line-height: (87 / 60);
  font-size: 60px;

  @include mq("tab") {
    font-size: 42px;
  }

  @include mq("sp") {
    font-size: 30px;
    line-height: (48 / 30);
  }
}

.fv_text {
  margin-top: 24px;
  font-weight: 400;
  line-height: (32 / 18);

  @include mq("sp") {
    font-size: 16px;
    line-height: (25.6 / 16);
    margin-top: 16px;
  }
}

.fv_btn_inner {
  margin-top: 33px;
  display: flex;

  @include mq("tab") {
    display: block;
    margin-top: 15px;
  }

  @include mq("sp") {
    display: block;
    margin: 0 auto;
  }
}

.fv_btn {
  font-size: 18px;
  letter-spacing: normal;
  border-radius: 27px;
  width: 250px;
  height: 54px;
  line-height: 54px;

  @include mq("sp") {
    width: 300px;
    height: 58px;
    line-height: 58px;
    border-radius: 29px;
  }
}

.fv_dl_btn {
  background: $base_color2;
  color: $base_color3;
  width: 250px;
  height: 54px;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: normal;
  border-radius: 27px;
  border: 2px solid $base_color3;
  margin-left: 37px;

  @include mq("tab") {
    margin-left: 0;
    margin-top: 10px;
  }

  @include mq("sp") {
    margin-left: 0;
    margin-top: 32px;
    width: 300px;
    height: 58px;
    line-height: 54px;
    border-radius: 29px;
  }
}

.fv_img {
  width: 515px;
  margin-left: 16px;

  @include mq("tab") {
    width: 50%;
  }

  @include mq("sp") {
    width: 100%;
    margin-left: 0;
    width: 305px;
  }
}

/*=============================================================
# about
============================================================= */
.about {
  padding: 100px 0;
  background: $base_color2;

  @include mq("sp") {
    padding: 80px 0 60px;
  }
}

.about_inner {
}

.about_title_en {
}

.about_title_jp {
}

.about_text {
  margin: 29px auto 0;
  max-width: 100%;
  text-align: center;
  font-weight: 400;

  span {
    font-weight: 700;
  }

  @include mq("sp") {
    margin-top: 24px;
    font-size: 16px;
    line-height: (32.4 / 18);
  }
}

.about_text2 {
  font-weight: 400;
  line-height: (32.4 / 18);
  text-align: center;
  margin-top: 40px;

  @include mq("sp") {
    font-size: 16px;
    margin-top: 30px;
  }
}

.about_btn {
  margin: 40px auto 0;
  width: 400px;
  height: 70px;
  line-height: 70px;

  @include mq("sp") {
    width: 300px;
    height: 58px;
    line-height: 58px;
    margin-top: 24px;
  }
}

/*=============================================================
# feature
============================================================= */
.feature {
  padding: 100px 0;
  background: $key_color3;

  @include mq("sp") {
    padding: 60px 0;
  }
}

.feature_inner {
  @include mq("sp") {
    max-width: 100%;
  }
}

.feature_title_en {
}

.feature_title_jp {
  span {
    font-size: 60px;

    @include mq("sp") {
      font-size: 38px;
    }
  }
}

.feature_items {
  margin-top: 256px;

  @include mq("sp") {
    margin-top: 245px;
  }
}

.feature_item {
  width: 742px;
  max-width: 100%;
  background: $base_color2;
  border-radius: 30px;
  padding: 65px 19px 64px 40px;
  position: relative;

  @include mq("sp") {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 40px 0 40px 20px;
  }

  &:nth-child(1) {
    .feature_item_img {
      left: 647px;
      bottom: 0;

      @include mq("sp") {
        bottom: 218px;
        left: 48px;
      }
    }
  }

  &:nth-child(2) {
    margin-top: 153px;
    margin-left: auto;

    @include mq("sp") {
      margin-top: 258px;
    }

    .feature_item_img {
      right: 668px;
      top: 25px;

      @include mq("sp") {
        bottom: 202px;
        left: 48px;
        top: unset;
        right: unset;
      }
    }
  }
  &:nth-child(3) {
    margin-top: 263px;

    @include mq("sp") {
      margin-top: 265px;
    }

    .feature_item_img {
      left: 668px;
      bottom: 10px;

      @include mq("sp") {
        left: 48px;
        bottom: 237px;
      }
    }
  }
}

.feature_item_content {
  display: flex;

  @include mq("sp") {
    display: block;
  }
}

.feature_item_number {
  font-family: $font_en;
  font-size: 72px;
  color: $base_color3;

  @include mq("sp") {
    font-size: 42px;
  }
}

.feature_item_texts {
  margin-left: 18px;

  @include mq("sp") {
    margin-left: 0;
  }
}

.feature_item_title {
  line-height: (52.13 / 36);
  font-size: 36px;

  @include mq("sp") {
    font-size: 22px;
  }
}

.feature_item_text {
  margin-top: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: (28.8 / 16);
  width: 470px;
  max-width: 100%;

  @include mq("sp") {
    font-size: 14px;
    line-height: (22.4 / 14);
    margin-top: 8px;
    width: 335px;
  }
}

.feature_item_img {
  width: 520px;
  max-width: 100%;
  position: absolute;

  @include mq('tab') {
    display: none;
  }

  @include mq("sp") {
    order: -1;
    width: 280px;
  }
}

/*=============================================================
# cta
============================================================= */
.cta {
  background: $base_color1;
  padding: 60px 0;

  @include mq("sp") {
    padding: 40px 0;
  }
}

.cta_inner {
}

.cta_text {
  font-size: 36px;
  line-height: (52.13 / 36);
  color: $base_color2;
  text-align: center;
  letter-spacing: 0.02em;

  @include mq("sp") {
    font-size: 18px;
    line-height: (28.8 / 18);
  }
}

.cta_btn {
  margin: 32px auto 0;
  width: 400px;
  height: 70px;
  line-height: 70px;

  @include mq("sp") {
    margin-top: 24px;
    font-size: 18px;
    width: 300px;
    height: 58px;
    line-height: 58px;
  }
}

/*=============================================================
# users
============================================================= */
.users {
  background: $base_color2;
  padding: 100px 0;

  @include mq("sp") {
    padding: 60px 0;
  }
}

.users_inner {
}

.users_title_en {
}

.users_title_jp {
}

.users_items {
  width: 972px;
  max-width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;

  @include mq("sp") {
    margin-top: 24px;
  }
}

.users_item {
  width: calc(25% - 40px * 3 / 4);

  &:not(:nth-child(4n + 1)) {
    margin-left: 40px;

    @include mq("sp") {
      margin-left: 11px;
    }
  }

  &:nth-child(n + 5) {
    margin-top: 50px;

    @include mq("sp") {
      margin-top: 12.49px;
    }
  }

  @include mq("sp") {
    width: calc(25% - 11px * 3 / 4);
  }
}

/*=============================================================
# flow
============================================================= */
.flow {
  background: $key_color3;
  padding: 100px 0 80px;

  @include mq('sp') {
    padding: 60px 0;
  }
}

.flow_inner {
}

.flow_title_en {
}

.flow_title_jp {
}

.flow_items {
  margin: 55px auto 0;
  width: 1070px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include mq('sp') {
    margin-top: 64px;
  }
}

.flow_item {
  width: calc(33% - 115px * 2 / 3);
  position: relative;

  @include mq('sp') {
    width: 100%;
  }

  &:not(:first-child) {
    margin-left: 115px;

    @include mq('sp') {
      margin-left: 0;
      margin-top: 84px;
    }

    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 32px 0 32px 29px;
      border-color: transparent transparent transparent #c4c4c4;
      left: -71px;
      top: 64px;

      @include mq('sp') {
        display: none;
      }
    }
  }
}

.flow_item_img {
  background: $key_color2;
  border-radius: 30px;
  position: relative;
  padding: 21px 41px;

  @include mq('sp') {
    padding: 21px 68px;
  }

  p {
    font-family: $font_en;
    font-size: 48px;
    color: $base_color3;
    position: absolute;
    top: -25px;
    left: -15px;
  }

  img {
  }
}

.flow_item_title {
  margin-top: 16px;
  font-size: 24px;
  text-align: center;

  @include mq('sp') {
    font-size: 20px;
  }
}

.flow_item_text {
  font-size: 16px;
  line-height: (28.8 / 16);
  font-weight: 400;
  margin-top: 8px;
}

/*=============================================================
# price
============================================================= */
.price {
  padding: 100px 0;
  background: $base_color2;

  @include mq('sp') {
    padding: 60px 0;
  }
}

.price_inner {
  max-width: 100%;
  padding-left: 20px;
}

.price_title_en {

}

.price_title_jp {

}

.price_wrap {
  margin: 68px auto 0;
  width: 1020px;
  max-width: 100%;
  overflow: auto;

  @include mq('sp') {
    width: 727px;
    margin-top: 40px;
  }
}

.price_header {
  display: flex;
  width: 1020px;

  @include mq('sp') {
    width: 727px;
  }
}

.price_header_item {
  width: 25%;
  text-align: center;
  margin-top: auto;

  &:nth-child(1) {
    margin-left: auto;
  }

  &:nth-child(odd) {
    background: $base_color1;
    color: $base_color2;
    padding: 47px 0 41px;
    height: 270px;

    @include mq('sp') {
      padding: 28px 0;
      height: 200px;
    }

    .price_header_item_name {
      font-size: 24px;

      @include mq('sp') {
        font-size: 20px;
      }
    }

    .price_header_item_price {
      margin-top: 17px;
      
      span {
        font-size: 36px;
      }

      @include mq('sp') {
        margin-top: 11px;
        font-size: 12px;

        span {
          font-size: 30px;
        }
      }
    }
  }

  &:nth-child(even) {
    padding: 58px 0 41px;
    background: $base_color3;
    color: $base_color2;
    height: 286px;
    
    @include mq('sp') {
      height: 232px;
      padding: 56px 0 28px;
    }

    .price_header_item_name {
      font-size: 28px;

      @include mq('sp') {
        font-size: 24px;
      }
    }

    .price_header_item_price {
      margin-top: 7px;
      font-size: 24px;
      
      span {
        font-size: 42px;
      }

      @include mq('sp') {
        font-size: 18px;

        span {
          font-size: 36px;
        }
      }
    }


    .price_white_btn {
      
    }

  }

  .btn {
    margin: 28px auto 0;
    line-height: 46px;

    @include mq('sp') {
      font-size: 16px;
      width: 166px;
      height: 42px;
      line-height: 38px;
      border-radius: 21px;
      margin-top: 19px;
    }
  }
}

.price_header_item_name {

}

.price_header_item_price {
  span {

  }
}

.price_white_btn {
  width: 234px;
  height: 50px;
  line-height: 50px;
  background: $base_color2;
  color: $base_color1;
  border: 2px solid $base_color1;
  font-size: 18px;
}

.price_blue_btn {
  width: 234px;
  height: 50px;
  line-height: 50px;
  border: 2px solid $base_color2;
  font-size: 18px;
}

.price_main {
  width: 1020px;
  table-layout: fixed;
  border-spacing: 0;

  @include mq('sp') {
    font-size: 14px;
    width: 727px;
  }

  tr {
    height: 60px;
    line-height: 60px;
    text-align: center;
    
    @include mq('sp') {
      height: 42px;
      line-height: 42px;
    }

    &:nth-child(odd) {
      background: $key_color2;
    }

    &:nth-child(even) {
      background: $base_color2;
    }

    td:nth-of-type(2) {
      font-size: 24px;
      font-weight: 700;

      @include mq('sp') {
        font-size: 18px;
      }
    }
  }

  th,td {
    font-weight: 400;
  }

  th {
    padding-left: 32px;
    font-size: 22px;

    @include mq('sp') {
      font-size: 15px;
      padding-left: 18px;
    }
  }

  td {

  }

}

.price_footer {
  width: 1020px;
  display: flex;
  padding: 16px 13px 15px 0;

  @include mq('sp') {
    padding: 9px 6px 9px 0;
    width: 727px;
  }

  .btn {
    margin-left: 25px;

    @include mq('sp') {
      font-size: 16px;
      width: 166px;
      height: 42px;
      line-height: 42px;
      border-radius: 21px;
    }

    &:first-child {
      margin-left: auto;
    }

    &:not(:nth-child(2)) {
      line-height: 46px;

      @include mq('sp') {
        line-height: 38px;
      }
    }
  }

  .price_blue_btn {
    border: none;
  }

  
}

/*=============================================================
# question
============================================================= */
.question {
  padding: 100px 0;
  background: $key_color3;

  @include mq('sp') {
    padding: 60px 0;
  }
}

.question_inner {

}

.question_title_en {

}

.question_title_jp {

}

.question_items {
  margin: 60px auto 0;
  width: 920px;
  max-width: 100%;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.question_item {

  &:not(:first-child) {
    margin-top: 24px;
  }
}

.question_q {
  background: $base_color3;
  border-radius: 10px;
  padding: 22px 0 22px 56px;
  color: $base_color2;
  position: relative;

  @include mq('sp') {
    border-radius: 4px;
    padding: 10px 10px 8px 47px;
    font-size: 16px;
    line-height: (25.6 / 16);
  }

  &::before {
    content: "Q";
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    font-size: 22px;

    @include mq('sp') {
      top: 10px;
      left: 15px;
      transform: translateY(0);
      line-height: 1;
    }
  }
}

.question_a {
  display: none;
  margin-top: 14px;
  background: $base_color2;
  border-radius: 10px;
  line-height: (32.4 / 18);
  padding: 21px 25px 22px 56px;
  position: relative;
  font-weight: 400;

  @include mq('sp') {
    border-radius: 4px;
    padding: 12px 16.04px 12px 40.96px;
    font-size: 16px;
    line-height: (25.6 / 16);
    margin-top: 16px;
  }

  &::before {
    content: "A";
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;

    @include mq('sp') {
      top: 12px;
      left: 15px;
    }
  }
}

/*=============================================================
# footer
============================================================= */
.footer {
  background: $key_color4;
  padding: 27px 0;
  color: $base_color2;

  @include mq('sp') {
    padding: 40px 0;
    text-align: center;
  }
}

.footer_inner {
  display: flex;
  
  @include mq('sp') {
    flex-direction: column;
  }
}

.footer_left {
  @include mq('sp') {
    order: 1;
  }
}

.footer_logo {
  width: 69px;
  height: 24px;

  @include mq('sp') {
    margin: 32px auto 0;
  }
}

.footer_nav {
  margin-top: 19px;
  width: 389px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 0.03em;

  @include mq('sp') {
    display: block;
    margin: 0 auto;
  }

  li {
    @include mq('sp') {
      margin-top: 14px;
    }
    a {

    }
  }
}

.footer_copyright {
  display: flex;
  letter-spacing: 0.03em;
  font-size: 10px;
  font-weight: 400;
  margin-top: 19px;
  
  @include mq('sp') {
    display: block;
    margin-top: 28px;

  }

  p {
    &:last-child {
      margin-left: 14px;

      @include mq('sp') {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}

.footer_right {
  margin-left: auto;

  @include mq('sp') {
    margin-right: auto;
  }
  p {
    margin-top: 20px;
    font-family: $font_en;

    @include mq('sp') {
      margin-top: 0;
    }
  }
}

.footer_sns {
  display: flex;
  margin-top: 12px;

  li {
    margin-right: 18px;

    @include mq('sp') {
      &:last-child {
        margin-right: 0px;
      }
    }
    a {

    }
  }

  .fab {
    font-size: 24px;
  }
}

